<p>Dobrý den <%= @resource.email %>!</p>

<p>Někdo požadoval vygenerování odkazu pro změnu vašeho hesla. Tuto změnu můžete provést kliknutím na níže uvedený odkaz.</p>

<p><%= link_to 'Změnit moje heslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Pokud jste o tuto žádost nezasílal Vy, ignorujte prosím tuto zprávu.</p>
<p>Vaše heslo zůstane i nadále stejné dokud se nerozhodnete jinak a nekliknete na uvedený odkaz.</p>